.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCenter {
    justify-content: center;
}

.mainContainer {
    border: solid 1px black;
    background-color: #BDBDBD;
}

.mainContainer > p {
    margin: 5px;
}

.mainContainer > div > label {
    margin-left: 5px;
}

.mainContainer > div > button {
    margin-left: 5px;
}

.gridTableHeaderDiv {
    background-color: white;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.gridTableDiv {
    overflow: auto;
    background-color: white;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.gridTable {
    table-layout:fixed;
    width: 100%;
}

.gridTableHeaderColumn {
    border: solid 1px black;
    background-color: #CCCCCC;
}

.gridTableColumn {
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
}

.gridTableRow:nth-child(even){
    background-color: #EEEEEE;
}

.gridTableRow:nth-child(odd){
    background-color: white;
}

.gridTableRow:hover {
    background-color: #DDDDDD;
}

.personDetailsDiv{
    margin-top:5px;
    margin-bottom: 5px;
    height: 27px;
}

.loadingMask {
    position: absolute !important;
    z-index: 99 !important;
    opacity: 0.5 !important;
    background-color: #000000 !important;
    margin: 0px !important;
    padding: 0px !important;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid green;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}